:root {
    --branco:#fff;
    --larprinc:#fda172;
    --clay:#f09c72;
    --fire:#dd571c;
    --black:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--larprinc);
    font-family: Roboto,Arial, Helvetica, sans-serif;
}

h1 {
    color:var(--black);
    margin: 20px 0;
}

.area {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}
.area .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color:var(--black);
    
   
}
.item:hover {
    background-color: var(--clay);
   cursor: pointer;
}

.item.t {
    border-top: 1px solid var(--black);
}

.item.l {
    border-left: 1px solid var(--black);
}
.item.r {
    border-right: 1px solid var(--black);
}
.item.b {
    border-bottom: 1px solid var(--black);
}

.info {
    width: 300px;
    display: flex;
    margin-top: 30px;
    border: 1px dotted var(--black);
    padding: 10px;
}

.infoitem {
    flex:1;
}

.infotitulo {
    text-align: center;
    color: var(--black);
    margin-bottom: 10px;
}

.infocorpo {
    text-align: center;
    color: var(--black);
    font-size: 20px;
    
}

.reset {
    background-color: var(--black);
    color: var(--branco);
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--black);
    border-radius:5px;
    padding: 7px;
    cursor: pointer;
    text-transform: uppercase;
    
}
.reset:hover {
    background-color: var(--clay);
    border: 1px solid var(--black);
    font-weight: bold;
    
}

footer, span {
    align-items: center;
    text-align: center;
    font-weight: 500;
    
}